@media screen and (max-width: 576px) {
  /* Navbar */
  .container-link {
    text-align: start;
    padding: 4px 16px;
  }
  /* About */
  #about {
    background: linear-gradient(to top, #f0f0f0 50%, #f7f7f7 50%);
  }
  /* Jobs */
  #job-info .container {
    columns: 1;
  }
  .details-body .hobies i {
    font-size: 18px;
  }
  /* Certificate */
  .body-detail:nth-child(even) {
    margin-top: 32px;
    padding-top: 32px;
    border-top: 1px solid #d6c08d;
  }
  .body-detail:last-child {
    border: none;
  }
  .body-detail:nth-child(2) {
    border-left: none;
  }
  /* Projects */
  .time-position {
    /* display: flex;
    flex-direction: column;
    align-items: start; */
  }
  .time {
    width: 55px;
  }
  .position {
    display: block;
  }
  .time-position .position:last-child {
    display: block;
    margin-left: 0;
  }
  /* Footer */
  #footer .container ul {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  #footer .container ul li {
    padding: 0;
  }
  #footer .container ul li i {
    font-size: 28px;
  }
}
